<!doctype html>
<html>
<head>
  <title>Best.Game.Ever.</title>
</head>
<body>

<h1>Enter some data here...</h1>

<form action="/madlib">
  Person <input type="text" name="person"><br/>
  Color <input type="radio" name="color" value="puce">puce
  <input type="radio" name="color" value="chartreuse">chartreuse
  <input type="radio" name="color" value="aqua">aqua<br/>
  Noun <input type="text" name="noun"><br/>
  Adjective <input type="checkbox" name="adjective" value="clingy">clingy
  <input type="checkbox" name="adjective" value="verbose">verbose
  <input type="checkbox" name="adjective" value="sketchy">sketchy
  <input type="checkbox" name="adjective" value="polka-dotted">polka-dotted
  <input type="checkbox" name="adjective" value="oozing">oozing
  <input type="checkbox" name="adjective" value="creepy">creepy<br/>
  verb <input type="text" name="verb"><br>
  adverb <select name="adverb">
    <option value=""></option>
    <option value="grudgingly">grudgingly</option>
    <option value="swimmingly">swimminingly</option>
    <option value="grumpily">grumpily</option>
    <option value="excitedly">excitedly</option>
    <option value="skankily">skankily</option>
    <br/>
  <br/>
  <input type="submit">
</form>

</body>
</html>
